@import url('./style.css');

:host(help-component) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .75);
	z-index: 100;
}

:host(help-component.show) {
	display: flex;
}

:host(help-component) #frame {
	width: 75%;
	border: 1px solid white;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

:host(help-component) p {
	text-align: center;
	margin: 5px 0;
}

:host(help-component) ul {
	margin: 5px 0;
}

:host(help-component) li {
	margin: 2px 0;
}

:host(help-component) button {
	margin: 20px 0 10px 0;
}